.section-wrapper .section-title{
    color:white;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 0.85em 0;
    margin-bottom: 0;
    letter-spacing: 0.08em;
    text-shadow:  0 0 10px #b700ff,0 0 20px #b700ff,0 0 40px #b700ff,0 0 80px #b700ff,0 0 120px rgb(183, 0, 255);
}
.accordion button.accordion-button{
    --bs-accordion-active-color: black;
    --bs-accordion-active-bg: rgb(183, 0, 255);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(183, 0, 255, 0.25);
}
#FAQ
{
    width: 70%;
    margin: 3rem auto;
    color: black;
    background-color: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
}

.accordion-body
{
    color: black;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
}