svg{
    width: 150px;
    height: 150px;
}
.circle { 
    width: 150px;
    height: 150px;
    stroke: #70079b;
    fill: none; 
    stroke-width: 1.25; 
    stroke-linecap: round; 
    animation: progress 1s ease-out forwards;
}