.timer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3em 0;
    align-items: center;
    gap: 2em;
}
/* .timer-container .timer-circle{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .timer-container .timer-circle svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
} */
/* .timer-container .timer-circle svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 6;
    stroke: #282828;
    stroke-linecap: round;
    transform: translate(5px,5px);
}
.timer-container .timer-circle svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
} */
.timer-container div{
    /* position: absolute; */
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 1.5em;
}
.timer-container div span{
    position: absolute;
    transform: translateX(-50%) translateY(-8px);
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
/* .timer-container .dots{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
} */
/* .timer-container .dots:before{
    content: '';
    position: absolute;
    top: -28px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),0 0 60px var(--clr),0 0 80px var(--clr),0 0 100px var(--clr);
} */

@media screen and (max-width:1250px){
    .timer-container{
        justify-content: center;
        gap: 2.5em;
    }
}
@media screen and (max-width:500px){
    .timer-container{
        row-gap: 2em;
        column-gap: 1.75em;
        justify-content: space-evenly;
    }
}