.circle{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    /* border : 10px solid red; */
    color: white;
    margin: 20px;
    /* background:conic-gradient(red 44%, 0 ,black ); */
    /* background:linear-gradient(white, white) content-box no-repeat, */
                /* conic-gradient(red 44%, 0, green ) border-box; */
}
/* .circle h4{
    position: relative;
    top : 2.5rem  */
/* } */ 

.circle svg circle{
    fill: transparent;
    stroke-width: 8;
    stroke: aqua;
    height: 100%;
    width: 100%;
    transform: translate(5px,5px);
}
.circle svg circle{
    /* stroke: white; */
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.timer div{
    /* position: absolute; */
    text-align: center;
}

.dots{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    z-index: 1000;
}

  
  
.dots::before {
    content: '';
    position: absolute;
    top: 0rem;
    left: 3.5rem;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 20px white, 0 0 60px white;
    animation: moveInCircle 60s linear infinite; /* Adjust the duration (60s) as needed */
  }
  
  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg) translateX(70px);
    }
    100% {
      transform: rotate(360deg) translateX(70px);
    }
  }
  
  

.data{
    position: absolute;
    text-align: center;
    top: 1.25rem;
    left: 2.2rem;
}



.timer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}
