@font-face {
    font-family: 'AutourOneRegular';
    src: url('../../assets/AutourOne-Regular.ttf');
}
.timer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3em 0;
    align-items: center;
    gap: 2em;
}
.timer-container div{
    /* position: absolute; */
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 1.5em;
}
.timer-container div span{
    position: absolute;
    transform: translateX(-50%) translateY(-8px);
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
@media screen and (max-width:1250px){
    .timer-container{
        justify-content: center;
        gap: 2.5em;
    }
}
@media screen and (max-width:500px){
    .timer-container{
        row-gap: 2em;
        column-gap: 1.75em;
        justify-content: space-evenly;
    }
}