.domain-container{
    max-width: 1200px;
    margin: 2.5em auto;
    margin-top: 0;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2em;
    justify-content: center;
    align-items: center;
}
.domain{
    width:350px;
    transition: all .8s cubic-bezier(0.7,-.5,0.3,0.8);
    transform-style: preserve-3d;
    border-radius: 16px;
}
.domain:before,.domain:after{
    content: ' ';
    position: absolute;
    top:-2.75px;
    bottom: -2.75px;
    left: -2.75px;
    right: -2.75px;
    background-color: #fff;
    border-radius: 16px;
}
.domain:before{
    z-index: -1;
}
.domain:after{
    z-index: -2;
    filter: blur(20px);
}
.domain:before,.domain:after{
    background: linear-gradient(235deg,#01ffee,#01272a,#e706e0);
}
.domain-front.health{
    background-image: url('../../images/domains/health_sector.png');
}
.domain-front.agriculture{
    background-image: url('../../images/domains/agricultural_sector.png');
}
.domain-front.smartcity{
    background-image: url('../../images/domains/smart_city.png');
}
.domain-front.wastemgmt{
    background-image: url('../../images/domains/waste_mgmt.png');
}
.domain-front.opendomain{
    background-image: url('../../images/domains/open_domain.png');
}
.domain-front.elderly{
    background-image: url('../../images/domains/elderly_and_disabled.png');
}
.wrapper:hover .domain{
    transform: rotateY(180deg);
}
.domain-front,.domain-back{
    width: 350px;
    backface-visibility: hidden;
    position: relative;
    top:0;
    left:0;
    text-align: center;
    align-items: center;
}
.domain-front button{
    width: max-content;
    margin-bottom: 0.75em;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 0.9em;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    outline: none;
    display: none;
}
.domain-front{
    cursor:pointer;
    height: 280px;
    border-radius: 16px;
    backface-visibility:hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(0.5);
    color: white;
    font-size: 1.15em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.domain-front h2{
    margin: 1em auto;
    letter-spacing: 1px;
    font-size: 1.5em;
}
.domain-back{
    position: absolute;
    transform:rotateY(180deg);
    border-radius: 16px;
    background-color: rgba(0,0,0,0.2);
    color: white;
    padding: 1.5em;
    height: 280px;
}
.domain-back h2{
    margin: 0.5em auto;
    margin-top: 0;
    font-size: 1.65em;
}
.domain-back p{
    line-height: 1.5;
    font-size: 1em;
}

@media screen and (max-width:700px) {
    .wrapper:hover .domain{
        transform: rotateY(0deg);
    } 
    .domain-container .domain.flipped {
        transform: rotateY(180deg);
    }
    .domain-front button{
        display: block;
    }
    .domain-front{
        cursor: auto;
    }
    .domain-front h2{
        margin: 0.75em;
        margin-bottom: 0.25em;
        font-size: 1.5em;
    }
}
@media screen and (max-width:370px) {
    .domain{
        width: 320px;
    }
    .domain-front,.domain-back{
        width: 320px;
    }
    .domain-front h2{
        font-size: 1.4em;
    }
}