.domain-container{
    max-width: 1200px;
    margin: 2.5em auto;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2em;
    justify-content: center;
    align-items: center;
}
.domain{
    width:350px;
    transition: all .8s cubic-bezier(0.7,-.5,0.3,0.8);
    transform-style: preserve-3d;
    box-shadow: rgba(255,255,255, 0.16) 0px 10px 36px 4px, rgba(255,255,255, 0.06) 0px 0px 0px 4px;
    border-radius: 16px;
}
.wrapper:hover .domain{
    transform: rotateY(180deg);
}
.domain-front,.domain-back{
    width: 350px;
    backface-visibility: hidden;
    position: relative;
    top:0;
    left:0;
    text-align: center;
    align-items: center;
}
.domain-front button{
    width: max-content;
    margin: 1em;
    border-radius: 16px;
    padding: 14px 26px;
    font-size: 0.9em;
    cursor: pointer;
    background-color:#710857 ;
    color: white;
    border: none;
    outline: none;
    display: none;
}
.domain-front{
    cursor:pointer;
    height: 280px;
    border-radius: 16px;
    backface-visibility:hidden;
    background-image: url('../../images/domain.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(0.5);
    color: white;
    font-size: 1.15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.domain-back{
    position: absolute;
    transform:rotateY(180deg);
    border-radius: 16px;
    background-color: rgba(0,0,0,0.2);
    color: white;
    padding: 1.5em;
    height: 280px;
}
.domain-back h2{
    margin: 0.5em;
    margin-top: 0;
    font-size: 1.65em;
}
.domain-back p{
    line-height: 1.5;
    font-size: 1em;
}

@media screen and (max-width:700px) {
    .wrapper:hover .domain{
        transform: rotateY(0deg);
    } 
    .domain-container .domain.flipped {
        transform: rotateY(180deg);
    }
    .domain-front button{
        display: block;
    }
}