.home{
    /* background-color: black; */
    text-align: center;
    padding: 10px;
}
.home h1{
    color: white;
}
.home {
    padding: 20px;
}

.home-logo{
    width: 50%;
    object-fit: cover;
    animation: big 1s linear;
}
@keyframes big {
    /* 0%{
       opacity: 0;
    }
    20%{
        opacity: 0.2;
    }
    40%{
        opacity: 0.4;
    }
    60%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    } */
    0%{
        opacity: 1;
     }
     10%{
         opacity: 0.8;
     }
     20%{
         opacity: 0.6;
     }
     30%{
         opacity: 0.4;
     }
     40%{
        opacity: 0.2;
     }
     50%{
         opacity: 0.1;
     }
     60%{
        opacity: 0.2;
    }
    70%{
        opacity: 0.4;
    }
    80%{
        opacity: 0.6;
    }
    90%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
