@font-face {
    font-family: 'AudioWideRegular';
    src: url('../../assets/Audiowide-Regular.ttf');
}
.home-container{
    position: relative;
    min-height: 100vh;
}
.home-particles{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 100vh;
}
.home-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.home-content .rec-logo{
    width: 20vw;
}
.home-content h1{
    margin: 0.5em 0;
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 0.25rem;
    font-family: 'AudioWideRegular';
}

.home-content .rec-logo{
    width: 20vw;
}
.home-content h1{
    margin: 0.5em 0;
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 0.25rem;
    font-family: 'AudioWideRegular';
}
.home-content p{
    font-size: 1.75rem;
    margin-bottom: 0em;
    font-style: italic;
}
.home-content .hackoverflow-logo{
    width: 50vw;
    height: 125px;
    object-fit: cover;
}

@media screen and (max-width:1250px){
    .home-content{
        width: 94vw;
    }
    .home-content h1{
        font-size: 2.4rem;
    }
}
@media screen and (max-width:1000px){
    .home-content .rec-logo{
        width: 32vw;
    }
}
@media screen and (max-width:800px){
    .home-content h1{
        font-size: 2rem;
    }
    .home-content p{
        font-size: 1.5rem;
    }
    .home-content .hackoverflow-logo{
        height: 100px;
        width: 70vw;
    }
}
@media screen and (max-width:500px){
    .home-content .rec-logo{
        width: 50vw;
    }
    .home-content .hackoverflow-logo{
        width: 90vw;
    }
}