.to-top{
    position: fixed; 
    width: 54px;
    right: 2%;
    bottom: 2%;
    height: 54px;
    border: 2.5px solid white;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    background-color: rgb(156, 1, 154,0.5);;
    color:white;
}
.to-top:hover{
    position: fixed; 
    width: 54px;
    right: 2%;
    bottom: 2%;
    height: 54px;
    border: 2.5px solid white;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    background-color: rgb(156, 1, 154);
    color:white;
}
