.register-page{
    border: 2px solid white;
    /* margin: 2rem auto; */
    padding: 2rem;
    text-align: left;
    animation: dimension 2s ease-in-out 1 alternate;
}
.btn.btn-primary{
  --bs-btn-bg: rgb(156, 1, 154,0.7);
  --bs-btn-border-color: rgb(156, 1, 154,0.7);
  --bs-btn-hover-bg: rgb(156, 1, 154,0.3);
  --bs-btn-hover-border-color: #9c019a;
  --bs-btn-disabled-bg: #9c019a;
  --bs-btn-disabled-border-color: #9c019a;
  --bs-btn-active-bg: #9c019a;
  --bs-btn-active-border-color: #9c019a;
}
/* #text h1{
    color:#FF00E6;
    font-family: 'Raleway', sans-serif;
    font-size:40px;
    letter-spacing:10px;
    animation: text-flicker 3s linear infinite;
  } */
#text , .flick{
    text-align:center;
    border:5px solid rgb(183, 0, 255);
    width: 60%;
    font-weight: bold;
    margin: 2rem auto;
    border-radius:20px;
    animation: border-flicker 2s linear infinite;
  } 
  
  .register-page{
    text-align: justify;
  }
/* 
  @keyframes text-flicker {
    0% {
      opacity:0.1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    
    2% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    8% {
      opacity:0.1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    9% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
    }
    12% {
      opacity:0.1;
      text-shadow: 0px 0px rgba(242, 22, 22, 1);
    }
    20% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
    }
    25% {
      opacity:0.3;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
    }
    30% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
    }
    
    70% {
      opacity:0.7;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
    }
    
    72% {
      opacity:0.2;
      text-shadow:0px 0px 29px rgba(242, 22, 22, 1)
    }
    
    77% {
      opacity:.9;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
    }
    100% {
      opacity:.9;
      text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
    }
  } */
  @keyframes border-flicker {
    0% {
      /* opacity:0.1; */
      -webkit-box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
  -moz-box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
  box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
    }
    2% {
      /* opacity:1; */
      -webkit-box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
  -moz-box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
  box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
    }
    4% {
      /* opacity:0.1; */
      -webkit-box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
  -moz-box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
  box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
    }
    
    8% {
      /* opacity:1; */
      -webkit-box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
  -moz-box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
  box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
    }
    70% {
      /* opacity:0.7; */
      -webkit-box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
  -moz-box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
  box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
    }
    100% {
      /* opacity:1; */
      -webkit-box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
  -moz-box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
  box-shadow: 0px 0px 20px 4px rgba(183, 0, 255,0.73);
    }
  }
  
@media screen and (max-width : 430px) {
    .register-page{
        width: 90%;
    }
    #text h1{
      font-size: 1.75rem;
    }
}