.organizers-container{
    max-width: 96%;
    margin: 2.5em auto;
    margin-top: 0;
    padding: 1em;
    scroll-behavior: smooth;
    cursor: pointer;
    text-align: center;
}
.organizers-container .section-title{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 1em 0;
    margin-bottom: 1.25em;
    letter-spacing: 0.08em;
    text-shadow: 0 0 10px #b700ff,0 0 20px #b700ff,0 0 40px #b700ff,0 0 80px #b700ff,0 0 120px #b700ff;
}
.organizers-main-wrapper{
    display: flex;
    align-items: center;
    gap: 1em;
}
.org-icon , .org-icon-student{
    font-size: 3em;
    cursor: pointer;
}
.organizers-wrap , .organizers-wrap-student{
    display: flex;
    flex-direction: row;
    gap:2em;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.organizer , .organizer-student{
    min-width: 300px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    transform-style: preserve-3d;
}
.organizer img , .organizer-student img{
    transform: translateZ(8px);
    width: 200px;
    height: 200px;
    margin: 2em 0;
    margin-bottom: 1.75em;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgb(200, 0, 255),0 0 20px rgb(200,0,255);
}
.organizer-info h2{
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 1.4em;
}
.position{
    color: white;
    font-size: 1.05em;
    padding-bottom: 1em;
}
.organizer-button{
    border-radius: 25px;
    background-color: #b700ff;
    padding: 10px;
    text-align: center;
    margin: 10px;
    height: 40px;
    animation: see-more 2s linear infinite;
}
button.organizer-button{
    margin-top: 4rem;
}
button a{
    color: white;
    text-decoration: none;
}
.btn.btn-outline-light:hover , .btn.btn-outline-light:active{
    background-color: #b700ff;
    color: white;
}
@keyframes see-more {
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}
@media screen and (max-width:400px){
    .organizers-container{
        max-width: 100%;
    }
    .organizer{
        gap: 12px;
    }
    .organizer{
        min-width: 260px;
    }
    .organizer img{
        width: 180px;
        height: 180px;
    }
    .organizers-main-wrapper{
        gap: 4px;
    }
    .org-icon{
        font-size: 2em;
    }
}
@media screen and (max-width : 480px) {
    button.organizer-button{
        margin-top: 3.25rem;
    }
}