.animated-border-box, .animated-border-box-glow{
  width: 70%;
  padding: 3rem;
  margin: 3rem;
  position: absolute;
  overflow: hidden; 
  z-index: 0;
  border-radius: 10px;
}
.animated-border-box-glow{
  overflow: hidden;
  filter: blur(20px);
} 
.animated-border-box:before, .animated-border-box-glow:before {
  content: '';
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 99999px;
  height: 99999px;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%) rotate(0deg);
  background-position: 0 0;
  background-image: conic-gradient(rgba(0,0,0,0), #ac16aa, rgba(0,0,0,0) 25%);
  animation: rotate 4s linear infinite;
}
.animated-border-box:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: rgba(157, 118, 193,0.5);
  border-radius: 7px;
}
@keyframes rotate {
  100% {
      transform: translate(-50%, -50%) rotate(1turn);
  }
}
body {
  margin: 0px;
}
.center-box{
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#top{
  position: absolute;
  top : 20rem;
  width: 70%;
}
#not-top{
  width: 70%;
  position: absolute;
}
#about-section{
  display: flex;
  justify-content: space-around;
  color: #ffffff;
}
.abt-gif{
  width: 30%;
  height: 20rem;
  border-radius: 1.25rem;
}
.abt-content{
  line-height: 1.5;
  margin: 1em 0;
}

/* .rec-info:before{
  transform: translate(-50%, -50%) rotate(0deg);
}
.hackoverflow-info:before{
  transform: translate(-50%, -50%) rotate(180deg);
} */